<h1>Login</h1>
<br>
<br>
<form action = "/sessions" method = "post">
  <label>Username:</label><br>
  <input type = "text" name = "username">
  <br>
  <label>Password:</label><br>
  <input type = "password" name = "password">
  <br>
  <input type = "submit", value = "Login">
</form>

<%= erb :'_errors' %>
