<br>
<form id='login-form' action = "/sessions" method = "post">
  <input type = "text" name = "username" placeholder="Username">
  <br>
  <input type = "password" name = "password" placeholder="Password">
  <br>
  <input type = "submit", value = "Login">
<%= erb :'_errors' %>
</form>

<div id='date'>
</div>
<div id='clock'>
</div>