<form action="">
	<input name="status" value="draft" type="hidden">
	<input name="maker" value="Chase" type="hidden">
	<select>
  <option value="Chase">Chase</option>
  <option value="Citi">Citi</option>

</select>
<p><p>maker_agreement</p>
<textarea placeHolder="Party 1 will give $10 million" name="" id="" cols="30" rows="5"></textarea></p>
<p><p>taker_agreement</p>
<textarea placeHolder="Party 1 will provide services" name="" id="" cols="30" rows="5"></textarea></p>


<input value="Create Contract Propoasl" type="submit">
</form>

