
html { 
height: 100%; 
} 

body {
  /*height: 100%;*/
  min-height:100%;
  position: relative;
  background-image: url("../img/paul-gilmore-pastourmatzis-146128.jpg");
/*  background-image: url("https://unsplash.it/1600/1000/?image=876");*/
/*  background-image: url("https://unsplash.it/1600/1000/?image=991");*/
/*  background-image: url("https://unsplash.it/1600/1000/?image=695");*/
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.right-menu {
  display: inline-block;
  position: relative;
  margin-right: 5%;
  margin-top: 3%;
  text-decoration: none;
  float: right;
  font-family: 'Raleway', sans-serif;
}

.input-field{
  opacity: 0.5;
  
}

.input-field:focus{
  color: black;
  opacity: 0.6;
}


input {
  width: 25%;
  padding: 0.7em 1em;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
 /* border-radius: 3em 1em 5em / 0.5em 2em;*/
  border-radius: 0.5em;
  margin-left: 1em;
  outline: none;

}

input:focus {
  border: 1px solid black;
}

.right-menu-button{
  display: inline-block;
  text-align: center;
  border-radius: 0.2em;
  opacity: 0.60;
  background-color: black;
  color: white;
  padding: 0.4em;
  font-size: 1em;`
}

.right-menu-button:hover {
  background-color: white;
  color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

.errors{
  color:  #ffd100;
}

#forecastbutton{ 
}

#forecastbutton:hover{
  color: #006881;
  border: 1px solid black;
}


#forecast-form, #forecast-indexform{
  text-align: center;
  position: relative;
  width: 100%;
  min-height: 100%;
  max-width: 55%;
  margin: 0em auto;
  /*padding: 1em 1em;*/
  background:rgba(0, 0, 0, 0.3);
  border-radius: 0.5em;
  box-shadow: 5px 5px 20px black;
  margin-top: 16%;
  font-family: 'Raleway', sans-serif;
}

#forecast-indexform{
  margin-top: 17%; 
}


#login-form {
  margin-top:10em;
  margin-left: 2em;
  font-family: 'Raleway', sans-serif; 
}

#login-form input:focus {
  border: 1px solid black;
}


#login-form input {
  width: 18%;
  padding: 0.7em 1em;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
 /* border-radius: 3em 1em 5em / 0.5em 2em;*/
  border-radius: 0.5em;
  margin-left: 1em;
  outline: none;
}

#register-form {
  margin-top: 9em;
  margin-left: 2em;
  font-family: 'Raleway', sans-serif; 
}


#register-form input {
   display: inline-block;
  width: 18%;
  padding: 0.7em 1em;
  margin: 0.5em auto;
  box-sizing: border-box;
  border: 1px solid #ccc;
 /* border-radius: 3em 1em 5em / 0.5em 2em;*/
  border-radius: 0.5em;
  margin-left: 1em;
  outline: none;
}

#register-form input:focus {
  border: 1px solid black;
}

#registertext{
  text-align: center;
  background:rgba(0, 0, 0, 0.3);
  border-radius: 0.4em;
  box-shadow: 3px 3px 10px black;
  width: 70%;
  min-height: 100%;
  max-width: 90%;
  margin: 1em auto;
  padding: 1em 1em;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px black;
}

.lasttext{
  text-align: center;
  background:rgba(0, 0, 0, 0.2);
  border-radius: 0.4em;
  box-shadow: 3px 3px 10px black;
  width: 100%;
  min-height: 100%;
  max-width: 45%;
  margin: 4em auto;
  padding: 1em 1em;
  color: #9cbab8;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
  margin-top: -24em;
  font-size: 90%;
}


.logo {
  height: 1.5em;
  width: 3em;
  display: inline-block;
  text-align: center;
  margin: 0.7em auto 0 0.7em;
  font-size: 3.5em;
  color: #f3f2f2;
  font-family: 'Raleway', sans-serif;
  margin-bottom: -23px;
}


.marklogo {
  background-color: #8ecfd7;
  /*background-color: #ffd100;*/
  /*background-color: #8ecfd7;*/
  /*background-color: #ec663c;*/
  /*background-color: #006881;*/
  opacity: 0.70;
  border-radius: 0.15em;
}


.get-forecast{
  display: inline-block;
  margin-left: 9.3em;
  margin-top: -1em;
  text-align: center;
  border-radius: 0.2em;
  opacity: 0.40;
  background-color: black;
  color: #9cbab8;
  padding: 0.2em;
  font-size: 0.8em;

}

#clock {
  font-size: 1.5em;
  color: white;
}

#date {
  font-size: 2em;
  color: #f3f2f2;
}

.datetime{
  text-align: center;
  position: relative;
  max-width: 20%;
  margin: 0 auto;
  padding: 1em 1em;
  background:rgba(0, 0, 0, 0.2);
  border-radius: 0.6em;
  box-shadow: 5px 5px 20px black;
  margin-top: 15%;
}


.logindatetime{
  text-align: center;
  position: relative;
  max-width: 20%;
  margin: 0 auto;
  padding: 1em 1em;
  background:rgba(0, 0, 0, 0.2);
  border-radius: 0.6em;
  box-shadow: 5px 5px 20px black;
  margin-top: -10%;
}



.icon {
  background-color: white;
  display: inline-block;
  opacity: 0.60;
  border-radius: 0.5em;
  padding: 0.7em;
  border: 1px solid black;
  box-shadow: 10px 10px 5px black;
}

#location {
  display: inline-block;
  margin-left: 4%;
  text-align: center;
  border-radius: 0.2em;
  opacity: 0.60;
  background-color: black;
  color: #9cbab8;
  padding: 0.2em;
}


#location:hover:before {
  content: 'Replace ';  
}

.wrapper{
  display: inline-block;
  margin-bottom: 3%;
}

#forecast-container {
  text-align: center;
  position: relative;
  width: 100%;
  min-height: 100%;
  max-width: 90%;
  margin: 0 auto;
  padding: 1em 1em;
  background:rgba(0, 0, 0, 0.2);
  border-radius: 0.6em;
  box-shadow: 5px 5px 20px black;
}

.forecast {
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
}

#tendaylink { 
  display: inline;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #9cbab8;
}

#tendaylink:hover {
  color: white; 
} 
 
.menu{
  text-align: center;
  position: relative;
  width: 100%;
  min-height: 100%;
  max-width: 90%;
  margin: 0 auto;
  padding: 0.7em 1em;
  background:rgba(0, 0, 0, 0.6);
  border-radius: 0.6em;
  box-shadow: 5px 5px 20px black;  
}

.userprofile{
  text-align: center;
  background:rgba(0, 0, 0, 0.2);
  border-radius: 0.6em;
  box-shadow: 3px 3px 10px black;
  width: 100%;
  min-height: 100%;
  max-width: 40%;
  margin: 0 auto;
  padding: 1em 1em;
  margin-top: 3em;
  margin-left: 3em;
}

#editheadline{
  margin-left: 2em;
}

#edit-form {
  margin-top: 2em;
  margin-left: 3em;
}

.button5{
  background-color: #555555;
  color: white;
  border: 1px solid black;
  border-radius: 0.2em;
  font-family: 'Raleway', sans-serif;
  height: 2em;
  width: 10em;
}

.button5:hover {
  background-color: white;
  color: black;
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 15px;
  left: 30px;
  z-index: 9999999;
  border: none;
  outline: none;
  background-color: #00b1ed;
  color: #FFF;
  cursor: pointer;
  border-radius: 50%;
  opacity: 1;
  font-size: 9px;
  line-height: 15px;
  padding: 21px 5px 20px 2px;
  text-transform: uppercase;
  width: 71px;
  text-align: center;
  box-shadow: 0px 0px 3px -1px #555;
  transition: bottom 0.2s ease-in-out;   
}

#myBtn:hover {
  background-color: #006881;
  opacity: 1;
  color: white;
} 


.demo {
  margin: 0 auto;
  padding-bottom: 1.4em;
}

.footer {
  position: absolute;
  text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.6em;
  margin: 0 auto;
  max-width: 40%; 
  border-radius: 0.8em 0.8em 0em 0em;
  opacity: 0.40;
  background-color: black;
  color: #9cbab8; 
}

.about{
  color: #9cbab8;
  margin-right: 0.5em;
  border: 0.5px solid #9cbab8;
  padding: 3px;
  font-size: 0.8em;
}


.about:hover {
  display: inline;
  background-color: white;
  color: black;
}

.copywrite{
  display: inline;
  color: #9cbab8;
  padding-right: 1em;
  font-size: 0.8em;
}


#logout-button{
  display: inline-block;
}

.user-forecasts{
  text-align: center;
  background:rgba(50, 50, 50, 0.4);
  border-radius: 0.4em;
  box-shadow: 3px 3px 10px black;
  width: 100%;
  min-height: 100%;
  max-width: 40%;
  margin: 1em auto;
  padding: 1em 1em;
  color: #9cbab8;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 2em;
}

#history{
  text-align: center;
  background:rgba(50, 50, 50, 0.7);
  border-radius: 0.5em;
  box-shadow: 3px 3px 10px black;
  width: 100%;
  min-height: 100%;
  max-width: 70%;
  margin: 1em auto;
  padding: 0.25em 0.3em;
}


#aboutdiv{
  text-align: center;
  background:rgba(0, 0, 0, 0.2);
  border-radius: 0.4em;
  box-shadow: 3px 3px 10px black;
  width: 100%;
  min-height: 100%;
  max-width: 60%;
  margin: 4em auto;
  padding: 1em 1em;
  color: #9cbab8;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 2em;
  font-size: 85%;
}
