<div class='lasttext'>
<!-- <h2 id='registertext'>Solo project as part of DevBootcamp experience</h2> -->
<h2 id='registertext'>Created by Iliyan Ganev</h2>
<h2 id='registertext'>ganeviliyan@gmail.com</h2>