<a class="get-forecast">SMS text message</a>
<div class='lasttext'>
<h2 id='registertext'>Five day | Ten day | Hourly 36 hours | Hourly 240 hours forecasts to any city in the world without registration.</h2>
<h2 id='registertext'>Register for Free with valid US phone number.</h2>
<h2 id='registertext'>Check weather forecasts to any city in the world using SMS by just texting a location(for convenience or when no internet avaiable).</h2><br>
<h2 id='registertext'>Get in touch: ganeviliyan@gmail.com</h2>