<a class="get-forecast">SMS text message</a>
<div id="aboutdiv">
<h2 id='registertext'>Weather forecasts including 10-day hourly. Weather history up to 50 years back for some cities.</h2>
<h2 id='registertext'>Register with valid US phone number to use the SMS feature.</h2>
<h2 id='registertext'>Weather forecasts using SMS by just texting a location.</h2><br>
<h2 id='registertext'>Get in touch: ganeviliyan@gmail.com</h2>