<a class="get-forecast">history</a>
<div class="user-forecasts">
	<h1><%=@user.username%>'s forecast history</h1><br>

	<%@user.forecasts.each do |forecast|%>
	<div id='history'>
		<h3><%=forecast.city%>, <%=forecast.country %></h3>
		<h3> <%=forecast.created_at.strftime("Created on %m/%d/%Y")%> 
		</h3><br>
	</div>
	<%end%>
</div>
