<h1>NEW USER PAGE</h1>
</br>
</br>

<form method = "post" action = "/users">
<label>username:</label>
<input type = "text" name = "user[username]">
</br>
<label>email:</label>
<input type = "email" name = "user[email]">
<br>
<label>Password:</label>
<input type = "password" name = "user[password]">
<br>
<input type = "submit", value = "Register User">
</form>



<%= erb :'_errors' %>
