<h1>New User Page</h1>

<form method = "post" action = "/users">
    <input type = "text" name = "user[username]" value="<%=@user.username %>" placeholder="enter username"><br>
    <input type = "email" name = "user[email]" value="<%=@user.email %>" placeholder="enter email"><br>
    <input type = "password" name = "user[password]" placeholder="enter password"><br>
    <input type = "submit", value = "Register User">
</form>

<%= erb :'_errors' %>
