<a class="get-forecast" href="/forecasts/new">on your phone</a>

<div class='lasttext'>
<h2 id='registertext'>Register to check weather via sms!</h2>
<h2 id='registertext'>Get 5 day forecast for any location!</h2>
<h2 id='registertext'>Details will be stent on your phone.</h2>
</div>


<form id='register-form' method = "post" action = "/users">
    <input type = "text" name = "user[username]" value="<%=@user.username %>" placeholder="enter username"><br>
    <input type = "email" name = "user[email]" value="<%=@user.email %>" placeholder="enter email"><br>
    <input type="phone-number" name="user[phone_number]" value="<%=@user.phone_number %>" placeholder="phone number(4156667777)"><br>
    <input type = "password" name = "user[password]" placeholder="enter password"><br>
    <input type = "submit", value = "Register User">

		<%= erb :'_errors' %>
		
<!-- </form>

<div class=datetime>
<div id='clock'>
</div>
<div id='date'>
</div>
</div> -->




