<form action="/login" method="POST">
	user: <input type="text" name="user[username]">
	password: <input type="password" name="user[password]">
	<input type="submit">
</form>
<p>Not a member yet? <a href="/signup">Sign Up</a></p>