<form action="/signup" method="POST">
	user: <input type="text" name="user[username]">
	password: <input type="password" name="user[password]">
	password_confirm <input type="password" name="user[password_confirmation]">
	<input type="submit">
</form>
