<h1>Here's your question!!!</h1>
<p><%=flash_card.question%></p>

<h3>What's your answer?</h3>
<form action='#'>
  <input type='text' name='answer' placeholder='answer here'>
  <input type='submit'>
</form>
