<a class="get-forecast">forecast for any location</a>

<form id="forecast-form" action="/forecasts" method = "post">
	<input type = "text" name = "forecast[city]" value="<%=@forecast.city%>"  placeholder="enter city">
	<input type = "text" name = "forecast[country]" value="<%=@forecast.country%>"  placeholder="enter country or state">
	<input type = "submit", value = "get forecast" id='forecastbutton'>
<%= erb :'_errors' %>
</form>

