<a class="get-forecast">forecast for any location</a>

<form id="forecast-form" action="/forecasts" method = "post">
	<input class="input-field" type = "text" name = "forecast[city]" value="<%=@forecast.city%>"  placeholder="city">
	<input class="input-field" type = "text" name = "forecast[country]" value="<%=@forecast.country%>"  placeholder="country or state">

	<%if session[:id]%>
	 <input type="hidden" name="forecast[user_id]" value="<%=session[:id]%>">
	 <%end%>
	 
	<input type = "submit", value = "forecast" id='forecastbutton'>
<%= erb :'_errors' %>
</form>

