<div data-id="0" data-status="completed" class="status">
<h3>Completed Contracts</h3>
	
</div>
<div data-id="1" data-status="draft" class="status">
<h3>Contracts in Draft</h3>
	
</div>
<div data-id="2" data-status="pendingMe" class="status">
<h3>Contracts Pending Me</h3>
</div>
<div  data-id="3" data-status="pendingOther"class="status">

<h3>Contracts Pending Other Party</h3>
</div>
<div data-id="4" data-status="rejected" class="status">
<h3>Contracts Rejected</h3>
</div>
