<a class="get-forecast" href="/forecasts/new">SMS on your phone</a>

<div class=datetime>
<div id='clock'>
</div>
<div id='date'>
</div>
</div>

<form id="forecast-indexform" action="/forecasts" method = "post">
	<input type = "text" name = "forecast[city]" value="<%=@forecast.city%>"  placeholder="enter city">
	<input type = "text" name = "forecast[country]" value="<%=@forecast.country%>"  placeholder="enter country or state">
	<input type = "submit", value = "get forecast">
<%= erb :'_errors' %>
</form>



