<a class="get-forecast">SMS on your phone</a>

<div class=datetime>
<div id='clock'>
</div>
<div id='date'>
</div>
</div>

<form id="forecast-indexform" action="/forecasts" method = "post">
	<input class ="input-field" type = "text" name = "forecast[city]" value="<%=@forecast.city%>"  placeholder="enter city">
	<input class="input-field" type = "text" name = "forecast[country]" value="<%=@forecast.country%>"  placeholder="enter country or state">

	<%if session[:id]%>
	 <input type="hidden" name="forecast[user_id]" value="<%=session[:id]%>">
	 <%end%>
	 
	<input type = "submit" id='forecastbutton', value = "get forecast">
<%= erb :'_errors' %>
</form>



