<h3> Welcome to Flashy Cards by NAS !! </h3>
<h2> Please sign in to play or register a new user </h2>
<form action="/" method="POST">
  <input type="text" name="name" placeholder="Name">
  <input type="password" name="password" placeholder="Password">
  <input type="Submit" value="Signin">
</form> </br>
<a href="user/new">Click here to register a new user</a>
