<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/css/application.css">


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div id="content">
    <header>
    <a href="/">Contract Manager</a>
      <div id="login-toolbar">
        <% if current_user %>
        <a href="/dashboard">My Dashboard</a>
        <a href="/logout">Logout</a>
        <% else %>
        <a href="/login">Login</a>
        <% end %>
      </header>
      <%= yield %>
    </div>
  </body>
  </html>
