<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <!-- Load Vollkorn font -->
  <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,400' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
<div id="content">
  <header>
    <a href="/"><img src="/img/zenchinese.png" class="logo"></a>
    <div id="login-toolbar">
      <% if current_user %>
        <a href="/logout">Logout</a>
      <% else %>
        <a href="/login">Login</a>
      <% end %>
  </header>
  <%= yield %>
</div>
</body>
</html>
