<div class="container">
  <form action="/login" method='POST'>
    email<input type='text' name='email' />
    password<input type='password' name='password' />
    <input type='submit' value='login' />
  </form>
</div>
