<div class="container">
  <form action="/user" method='POST'>
    name<input type='text' name='user[name]' /><br/>
    email<input type='text' name='user[email]' /><br/>
    password<input type='password' name='user[password]' /><br/>
    confirm<input type='password' name='user[password_confirmation]' /><br/>
    <input type='submit' value='login' /><br/>
  </form>
</div>
